<md-dialog aria-label="Course Modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Login</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="close modal">
                <md-icon md-svg-src="/assets/image/icons/ic_clear_48px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-dialog-content>
        <div class="md-dialog-content">
            <form novalidate class="form">
                <md-input-container class="md-block">
                    <label>user name</label>
                    <input ng-model="coursename">
                    <span ng-show="errors.username" style="font-size:10px; color:red">Username Required</span>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>password</label>
                    <input type="password" ng-model="password">
                    <span ng-show="errors.password" style="font-size:10px; color:red">Password Required</span>
                </md-input-container>
                <md-button class="md-raised md-primary" on-click="login()">Login</md-button>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>
