<div class="modal-header">
    <h3>Save Course</h3>
</div>
<div class="modal-body">
    <form class="form">
        <div class="form-group">
            <label>Course Name  {{course.coursename}}{{course}}<span class="required"> *</span></label>
            <input class="form-control" type="text" name="course_name" value="{{course.coursename}}">
        </div>
        <div class="form-group">
            <label>Course Code<span class="required"> *</span></label>
            <input class="form-control" type="text" name="course_code">
        </div>
        <div class="form-group">
            <label>Time<span class="required" style="padding-right:20px"> *</span></label>
            <button class="btn-sm btn btn-success">Add Date</button>
            <date-picker ng-repeat="time in course.time"></date-picker>
        </div>
        <div class="form-group">
            <label>Color<span class="required"> *</span></label>
            <input class="form-control" type="text" name="course_color" value="{{course.color}}">
        </div>
        <div class="form-group">
            <label>Level</label>
            <input class="form-control" disabled type="text" name="course_level">
        </div>
        <div class="form-group">
            <label>Programme</label>
            <input class="form-control" disabled type="text" name="course_department">
        </div>
        <div class="form-group">
            <label>Department</label>
            <input class="form-control" disabled type="text" name="course_department">
        </div>
        <div class="form-group">
            <label>College</label>
            <input class="form-control" disabled type="text" name="course_college">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Save</button> 
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>