<div class="row content" ng-controller='CourseController'>
    <div class="col-md-8 col-md-offset-2">
        <div id="form-container">
            <div class="page-header text-center">
                <h3>{{title}}</h3>
                <div id="status-btns" class="text-center">
                    <a ui-sref="course.choose" ui-sref-active="active"><span>1</span></a>
                    <a ui-sref="course.timetable" ui-sref-active="active"><span>2</span></a>
                </div>
                
                <form id="course-create" ng-submit="processForm()">
                    <div id="form-views" ui-view>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>