<div class="col-md-6 col-md-offset-2">
    <select class="form-control" name="university">
        <option value="none">Choose University</option>
        <option>Bells University</option>
        <option>Convenant University</option>
        <option>Unilag</option>
        <option>Yabatech</option>
    </select>
    <select class="form-control" name="department">
        <option value="none">Choose department</option>
        <option>Computer Science</option>
        <option>Architecture</option>
        <option>Mathematics</option>
        <option>Infomation Technology</option>
    </select>
    <select class="form-control" name="level">
        <option value="none">Choose level</option>
        <option>100</option>
        <option>200</option>
        <option>300</option>
        <option>400</option>
        <option>500</option>
    </select>
    <a ui-sref="course.timetable" class="btn btn-success" type='submit' value="Create Timetable">
</div>