<div class="container content" ng-controller="TimetableController">
    <div style="margin-bottom: 5px">
        <md-button class="md-raised md-primary" ng-click="open()">
			</i>Create Course
        </md-button>
        <md-button class="md-raised " ng-click="refresh()" style="float:right">Refresh</md-button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th ng-repeat="head in headers">
                    {{head}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(time, days) in times">
                <td>{{time}}</td>
                <td ng-repeat="course in days">
                    <course-cell class="cell" course="course"></course-cell>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>