<div class="container content" ng-controller="TimetableController">
    <div style="margin-bottom: 5px">
        <button class="btn btn-success" ng-click="open()">
            <i class="glyphicon glyphicon-plus">
			</i>Create Course</button>
        <a class="btn btn-success" ui-sref="course.list">List Courses</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th ng-repeat="head in headers">
                    {{head}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(time, days) in times">
                <td>{{time}}</td>
                <td ng-repeat="course in days">
                    <course-cell class="cell" course="course"></course-cell>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>