<md-dialog aria-label="Course Modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Save Course</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="close modal">
                <md-icon md-svg-src="/assets/image/icons/ic_clear_48px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-dialog-content>
        <div class="md-dialog-content">
            <form novalidate class="form">
                <md-input-container class="md-block">
                    <label>Course name</label>
                    <input ng-model="course.coursename">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Course code</label>
                    <input ng-model="course.coursecode">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Course color</label>
                    <input ng-model="course.color" type="color">
                </md-input-container>
                <md-divider></md-divider>
                <div>
                        <label>Time<span class="required" style="padding-right:20px"> *</span></label>
                        <md-button class="md-icon-button" ng-click="add_date()" aria-label="add date">
                            <md-icon md-svg-src="/assets/image/icons/ic_add_circle_outline_48px.svg"></md-icon>
                        </md-button>
                    <date-picker ng-repeat="time in course.times"></date-picker>
                </div>
                <md-input-container class="md-block">
                    <label>Level</label>
                    <input ng-model="course.level" disabled>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="save()">
            Save
        </md-button>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>
