<div class="container content">
    <div class="row animate-panel">
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-heading">
                    <p>Bells University</p>
                </div>
                <div class="panel-body">
                    <div class="h-100"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-heading">
                    <p>Convenant University</p>
                </div>
                <div class="panel-body">
                    <div class="h-100"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-heading">
                    <p>University Of Lagos</p>
                </div>
                <div class="panel-body">
                    <div class="h-100"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-heading">
                    <p>Babcock University</p>
                </div>
                <div class="panel-body">
                    <div class="h-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>