<div class="container content" ng-controller="DepartmentController">
    <md-content layout="row" layout-xs="column" layout-wrap>
       <div class="flex-100" style="text-align:center">
            <h2>{{noContent}}</h2>
        </div>
        <div ng-repeat="department in departments" flex="33" flex-xs="100">
            <md-card class="">
                
                <md-card-header>
                    <md-card-header-text>
                        <h3 class="md-title">{{department.name}}</h3>
                    </md-card-header-text>
                </md-card-header>
                
                <md-card-content>
                    <p class="font-bold text-success">{{department.location}}</p>
                    <p class="small">
                        {{department.description}}
                    </p>
                </md-card-content>
                
                <md-card-actions>
                    <md-button class="md-raised md-accent" ui-sref="school.programme({departmentId: department._id})">View Programmes</md-button>
                </md-card-actions>
                
            </md-card>
        </div>
    </md-content>
    
<!--
    <div class="row ">
        <div class="col-md-3" ng-repeat="department in departments">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="m-b-xs">{{department.name}}</h2>
                            <p class="font-bold text-success">{{department.location}}</p>
                            <div class="m">
                                <i class="pe-7s-science fa-5x"></i>
                            </div>
                            <p class="small">
                                {{department.description}}
                            </p>
                            <button ui-sref="school.programme({departmentId: department._id})" class="btn btn-success btn-sm">View Programmes</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>-->
