<div class="content" ng-controller="TimetableController">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Sn</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>CSC201</td>
                <td>CSC203</td>
                <td>CSC202</td>
            </tr>
        </tbody>
    </table>
</div>