<div id="course_date_location">
    <div class="col-md-3" style="padding-left:0">
        <select class="form-control" name="course_day" ng-model="time.courseday" ng-options="day for day in days">
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control" name="course_time" ng-model="time.coursetime" ng-options="time for time in dayTimes">
        </select>
    </div>
    <div class="col-md-6">
        <input class="form-control" type="text" name="course_location" ng-model="time.courselocation" placeholder="Course Location" style="width:80%; display:inline">
        <button class="btn btn-xs" ng-click="remove_date($index)">&#10006;</button>
    </div>
</div>